services:
  web:
    container_name: ecs-wordpress-${SITE}-web
    build:
      context: .
      dockerfile: etc/docker/web/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
        SITE: ${SITE}
        WEB_PORT: ${WEB_PORT}
        PLATFORM_ARCH: linux/arm64
    ports:
      - ${WEB_PORT:-8831}:80
    env_file: .env
    depends_on:
      - app
    volumes:
      - .:/var/www/html
      - php-fpm-sock:/var/www/html/tmp/sockets
    networks:
      - default
  app:
    container_name: ecs-wordpress-${SITE}-app
    build:
      context: .
      dockerfile: etc/docker/app/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
        SITE: ${SITE}
        PLATFORM_ARCH: linux/arm64
        WORDPRESS_VERSION: ${WORDPRESS_VERSION:-*}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/var/www/html
      - php-fpm-sock:/var/www/html/tmp/sockets
    env_file: .env
    networks:
      - default
  db:
    container_name: ecs-wordpress-${SITE}-db
    build:
      context: .
      dockerfile: etc/docker/db/Dockerfile
    volumes:
      - ./etc/docker/db/data:/var/lib/mysql
    ports:
      - ${DB_PORT:-33311}:3306
    platform: linux/amd64
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_HOST: '%'
    env_file: .env
    networks:
      - default
    healthcheck:
      # https://devops.stackexchange.com/questions/11501/healthcheck-cmd-vs-cmd-shell
      # https://zenn.dev/daifukuninja/articles/35c8c9812391f7
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$DB_USER -p$DB_PASSWORD || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 3

volumes:
  php-fpm-sock:
